<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.w77996.top.mapper.TopMapper">
    <select id="selectAllWeiboHot" resultType="com.w77996.top.entity.TopEntity">
        select * from t_top where type = 1
    </select>
</mapper>